.h {
    font-size: 0.7em;
    /*  width: 100%; */
    white-space: nowrap;
    border: 1px solid black;
}

.v {
    -webkit-writing-mode:vertical-rl;
    -ms-writing-mode:tb-rl;
    writing-mode:vertical-rl;
    font-size: 0.6em;
    white-space: nowrap;
    text-align: center;
}

.g { /* grouping up */
    font-size: 0.7em; border: 1px solid black;
}

.s { /* spacer */
    width: 0.2em;
    border-left: thin solid black;
    border-right: thin solid black;
}

.x { /* mark */
    border-left: thin solid black;
    border-right: thin solid black;
}

/* Cell spacing */
table {
    border-spacing: 1px;
    border-collapse: collapse;
}
td:not(.s) {
    min-width: 0.6em;
}

table, tr, td { padding: 1px; }

.legend {
    right: 0px;
    top: 45px;
    cursor: pointer;
    display: block;
    float: right;
    position: absolute;
    z-index: 3;
}

/* Subtle patterns to aid users with color vision deficiency. */
tr:nth-child(odd)  > td > div.group { background-color: #ffff95 }
tr:nth-child(even) > td > div.group { background-color: #e1e183 }

tr:nth-child(odd)  .pass  { background-color: #30ff30; }
tr:nth-child(even) .pass  { background-color: #20e820; }

tr:nth-child(odd)  .skip  {  background: linear-gradient(91deg, #b0b0b0 2px, transparent 1%) center, linear-gradient(#b0b0b0 2px, transparent 1%) center, #909090; }
tr:nth-child(even) .skip  {  background: linear-gradient(91deg, #a0a0a0 2px, transparent 1%) center, linear-gradient(#a0a0a0 2px, transparent 1%) center, #808080; }
tr:nth-child(odd)  .skip,
tr:nth-child(even) .skip { background-size: 4px 4px; background-position: 3px; }

tr:nth-child(odd)  .notrun  { background-color: #e0e0e0; }
tr:nth-child(even) .notrun  { background-color: #d0d0d0; }

tr:nth-child(odd)  .dmesg-warn,
tr:nth-child(odd)  .warn  { background: linear-gradient(to right bottom, #ff9020 50%, #df7000 50%); }
tr:nth-child(even) .dmesg-warn,
tr:nth-child(even) .warn  { background: linear-gradient(to right bottom, #ef8212 50%, #cf6000 50%); }

tr:nth-child(odd)  .dmesg-fail,
tr:nth-child(odd)  .fail,
tr:nth-child(even) .dmesg-fail,
tr:nth-child(even) .fail  { background: linear-gradient(to left bottom, #ff2020 50%, #ba0000 50%); }

tr:nth-child(odd)  .timeout  { background-color: #83bdf6; }
tr:nth-child(even) .timeout  { background-color: #4a9ef2; }

tr:nth-child(odd)  .abort,
tr:nth-child(odd)  .crash,
tr:nth-child(odd)  .trap  { background-color: #111111; color: white; }
tr:nth-child(even) .abort,
tr:nth-child(even) .crash,
tr:nth-child(even) .trap  { background-color: #000000; color: white; }

tr:nth-child(odd)  .incomplete { background-color: #853385; color: white; }
tr:nth-child(even) .incomplete { background-color: #652365; color: white; }

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a.tooltip { outline:none; }
a.tooltip strong { line-height:30px; }
a.tooltip:hover { text-decoration:none; }

a.tooltip span {
    z-index:10;display:none; padding:0px 10px;
    margin-top:50px; margin-left:-350px;
    line-height: 1em;
}

a.tooltip:hover span{
    display:inline;
    position:absolute;
    font-size: 0.8em;
    border:2px solid black;
    color:black;
    background:white repeat-x 0 0;
}

.callout { z-index:20; position:absolute; border:0; top:-14px; left:120px; }

@keyframes opaque {
    0%    { opacity: 0.0; }
    30%   { opacity: 1.0; }
    60%   { opacity: 0.0; }
    100%  { opacity: 0.0; }
}

.sq {
    float: left;
    width: 24px; height: 24px;
    opacity: 0.0;
    animation-name: opaque;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
