var navbar_contents = `
    <%= render '/topnav.*', { page: :test_result } %>
`;


function addStylesheet()
{
    var head  = document.querySelector('head');
    var link  = document.createElement('link');

    link.rel  = 'stylesheet';
    link.type = 'text/css';
    link.href = '/assets/generic.css';

    head.appendChild(link);
}


function wrapContent()
{
    var body = document.querySelector("body");
    body.innerHTML =  "<div id=\"content-container\">" +
                      body.innerHTML +
                      "</div>";
}


function getMachineName()
{
    var components = document.URL.split('/');
    return components[components.length-2];
}


function getRun()
{
    var components = document.URL.split('/');
    return components[components.length-3];
}

function getTreeName()
{
    var components = document.URL.split('/');
    return components[components.length-4];
}


function getTestName()
{
    var components = document.URL.split('/');
    return components[components.length-1].split('.')[0];
}


function isPremerge()
{
    var run = getRun();
    return run.startsWith("Patchwork_") || run.startsWith("IGTPW_") || run.startsWith("Trybot_");
}


function addMachine()
{
    var machineName = getMachineName();

    var a = document.createElement("a");
    a.href = "/hardware.html#" + machineName;
    a.innerText = machineName;

    var b = document.createElement("b");
    b.innerText = "Machine description: "

    var p = document.createElement("p");
    p.appendChild(b);
    p.appendChild(a);

    var div = document.createElement("div");
    div.appendChild(p);

    var container = document.querySelector("div");
    container.insertBefore(div, container.firstChild);
}


function removeElement(element)
{
        element.parentElement.removeChild(element);
}


function addNavbar()
{
    var navbar = document.createElement("div");
    navbar.className = "topnav";
    navbar.innerHTML = navbar_contents;

    var body = document.querySelector("body");
    body.insertBefore(navbar, body.firstChild);

    if (isPremerge()) {
        var toDelete = document.querySelector("#run_name_href");
        removeElement(toDelete);
    } else {
        var toDelete = document.querySelectorAll(".run_name_dropdown");
        for (var  i = 0; i < toDelete.length; i++) {
            removeElement(toDelete[i]);
        }
    }

    document.querySelector(".run_name").innerText = getRun();
    document.querySelector("#machine_name").innerText = getMachineName();
    document.querySelector("#test_name").innerText = getTestName();
    document.querySelector("#tree_name").innerText = getTreeName();
}


function cleanupNavbarForGrids()
{
    removeElement(document.querySelector("#tree_name").parentElement.parentElement);
    removeElement(document.querySelector("#run_name_href").parentElement);
}


function isSingleTestResult() {
    return !!document.querySelector("h1");
}


addStylesheet();

document.addEventListener("DOMContentLoaded", function(event) {
    if (isSingleTestResult())
        addMachine();

    wrapContent();
    addNavbar();

    if (!isSingleTestResult())
        cleanupNavbarForGrids();
});
