<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <meta name="description" content="Results of Intel&#39;s Graphics CI systems">
        <link rel="stylesheet" href="/assets/detailed.css" type="text/css">
        <link rel="stylesheet" href="/assets/generic.css" type="text/css">
        <link rel="stylesheet" href="/assets/results.css" type="text/css">
        <link rel="shortcut icon" href="/assets/favicon.gif" />
        <script type="text/javascript" src="/assets/vis.js"></script>
        <script type="text/javascript" src="/assets/pako_inflate.min.js"></script>
    </head>
    <body>
        <%= render '/topnav.*' %>
        <div id="content-container">
            <div id="legend" class="legend">
                <table><tr>
                        <td class="fail">FAILED</td>
                        <td class="dmesg-fail">DMESG-FAIL</td>
                        <td class="dmesg-warn">DMESG-WARN</td>
                        <td class="warn">WARN</td>
                        <td class="pass">PASS</td>
                        <td class="skip">SKIP</td>
                        <td class="timeout">TIMEOUT</td>
                        <td class="notrun">NOT RUN</td>
                        <td class="incomplete">INCOMPLETE</td>
                        <td class="crash">CRASH</td>
                    </tr></table>
            </div>

            <script type="text/javascript">
                // for drawResult calls below
                var depth = <%= @item[:pre_merge] ? 1 : 0 %>;
            </script>

            <% if ['combined', 'combined alt'].include? @item[:current_tree_view_type] %>
                <h2><%= @item[:tree] %> fast-feedback</h2>
                <div id="spinner-fast-feedback" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="fast-feedback"></div>

                <h2><%= @item[:tree] %> shard-set</h2>
                <div id="spinner-shards" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="shards"></div>

                <% if @item[:current_tree_view_type] == 'combined' %>
                    <script type="text/javascript">
                        drawResults("bat.json.gz", "fast-feedback", "spinner-fast-feedback", false, depth);
                        drawResults("shards.json.gz", "shards", "spinner-shards", false, depth);
                    </script>
                <% else %>
                    <script type="text/javascript">
                        drawResults("bat.json.gz", "fast-feedback", "spinner-fast-feedback", true, depth);
                        drawResults("shards.json.gz", "shards", "spinner-shards", true, depth);
                    </script>
                <% end %>
            <% elsif @item[:current_tree_view_type] == 'BAT all' %>
                <h2><%= @item[:tree] %> fast-feedback all</h2>
                <div id="spinner-fast-feedback" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="fast-feedback"></div>
                <script type="text/javascript">
                    drawResults("bat-all.json.gz", "fast-feedback", "spinner-fast-feedback", false, depth);
                </script>
            <% elsif @item[:current_tree_view_type] == 'shards all' %>
                <h2><%= @item[:tree] %> shard-set all</h2>
                <div id="spinner-shards" class="spinner"><table cellpadding="2"><tr><td><div class="sq" style="background-color: #ff9020;"></div></td>
                            <td><div class="sq" style="background-color: #30ff30; animation-delay: 0.4s;"></div></td></tr>
                        <tr><td><div class="sq" style="background-color: #ff3030; animation-delay: 1.2s;"></div></td>
                            <td><div class="sq" style="background-color: #20e820; animation-delay: 0.8s;"></div></td></tr></table></div>
                <div id="shards"></div>

                <script type="text/javascript">
                    drawResults("shards-all.json.gz", "shards", "spinner-shards", false, depth);
                </script>
            <% else %>
                <% raise "Unknown view type \"#{@item[:current_tree_view_type]}\"!" %>
            <% end %>
        </div>
    </body>
</html>

